<div class="container-fluid my-5" style="background-color: black">
    <div class="row align-items-center">
        <div class="col-sm-6 ">
            <img src="assets/first.jpg" style="width: 100%; padding-top: 7%;">
        </div>
        <div class="col-sm-6" >
            <h1> WE GENERATE </h1> 
            <h1> CREATIVE & </h1> 
            <h1> NOVATION IDEAS </h1> 

            <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h3>
            <h6 class="text-center" style="color: white; padding-top: 10%;">SCROLL</h6>
            <h6 class="text-center"><i class="fas fa-chevron-down" style="color: white; font-size: 26px;"></i></h6>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-5 mx-auto" style=" padding-bottom: 3%; padding-top: 3%;">
            <h1>LATEST PRODUCTS</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-9">      
 <youtube-player style="padding-left: 5%;"
  videoId="7OBKpYy8Uww" 
  suggestedQuality="highres" 
  [height]="300" 
  [width]="1200" 
  [startSeconds]="4"
  [endSeconds]="8">
</youtube-player>
        </div>
    </div>
    
    <div class="row">
        <div class="col-sm-4 ml-auto">
            <h1 style="font-size: medium; padding-top: 8%;">COMMERCIAL</h1>
            <h2>RAW DENIM PHOTO</h2>
            <h2>BOOTH SEMIOTICS</h2>
            <h2>3 WOLF MOON</h2>
            <ul>
                <li>BRANDING DESIGN ART</li>
                <li>BRANDING DESIGN ART</li>
                <li>BRANDING DESIGN ART</li>
                <li>BRANDING DESIGN ART</li>
                <li>BRANDING DESIGN ART</li>
              </ul>  
        </div>
        <div class="col-sm-5 mr-auto" style="padding-top: 4%;">
           <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae fugiat sit dolorum sint aperiam. 
            Saepe suscipit quia possimus illum dolorum tenetur, repudiandae aspernatur consectetur labore quisquam quibusdam quaerat iusto cum.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque aspernatur in sit, eius quisquam ad ex unde nulla consectetur 
            tempore veniam odio impedit laudantium alias nihil numquam! Quam, dolor soluta.
        </p>
        </div>
    </div>
 
    <div class="card mb-3" style="width:100%; border: none; background-color: gold;">
        <div class="row no-gutters">
          <div class="col-md-6">
            <img class="bd-placeholder-img" src="assets/second.jpg" width="100%" height="352" >
      
          </div>
          <div class="col-md-6">
            <div class="card-body ">
              <p class="card-title text-center" style="padding-top: 15%; font-size: 33px; color: white;">Lorem ipsum dolor, sit amet </p>
              <p class="card-text text-center">Lorem ipsum dolor sit amet consectetur adipis</p>
              <button type="button" class="btn btn-square ">Shop Now</button>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4 ml-auto">
            <h1 style="font-size: medium; padding-top: 8%;">COMMERCIAL</h1>
            <h2>RAW DENIM PHOTO</h2>
            <h2>BOOTH SEMIOTICS</h2>
            <h2>3 WOLF MOON</h2>
            <ul>
                <li>BRANDING DESIGN ART</li>
                <li>BRANDING DESIGN ART</li>
                <li>BRANDING DESIGN ART</li>
                <li>BRANDING DESIGN ART</li>
                <li>BRANDING DESIGN ART</li>
              </ul>  
        </div>
        <div class="col-sm-5 mr-auto" style="padding-top: 4%;">
           <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae fugiat sit dolorum sint aperiam. 
            Saepe suscipit quia possimus illum dolorum tenetur, repudiandae aspernatur consectetur labore quisquam quibusdam quaerat iusto cum.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque aspernatur in sit, eius quisquam ad ex unde nulla consectetur 
            tempore veniam odio impedit laudantium alias nihil numquam! Quam, dolor soluta.
        </p>
        </div>
    </div>
 
    <div class="card mb-3" style="width:100%; border: none; background-color: gold;">
        <div class="row no-gutters">
          <div class="col-md-6">
            <img class="bd-placeholder-img" src="assets/TThird.jpg" width="100%" height="352" >
      
          </div>
          <div class="col-md-6">
            <div class="card-body" style="height: 22em;">
              <h5 class="card-title text-center" style="padding-top: 15%; font-size: 33px; color: white;">Lorem ipsum dolor, sit amet </h5>
              <p class="card-text text-center">Lorem ipsum dolor sit amet consectetur adipis</p>
              <button type="button" class="btn btn-square  ">Shop Now</button>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4 ml-auto">
            <h1 style="font-size: medium; padding-top: 8%;">COMMERCIAL</h1>
            <h2>RAW DENIM PHOTO</h2>
            <h2>BOOTH SEMIOTICS</h2>
            <h2>3 WOLF MOON</h2>
            <ul>
                <li>BRANDING DESIGN ART</li>
                <li>BRANDING DESIGN ART</li>
                <li>BRANDING DESIGN ART</li>
                <li>BRANDING DESIGN ART</li>
                <li>BRANDING DESIGN ART</li>
              </ul>  
        </div>
        <div class="col-sm-5 mr-auto" style="padding-top: 4%;">
           <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae fugiat sit dolorum sint aperiam. 
            Saepe suscipit quia possimus illum dolorum tenetur, repudiandae aspernatur consectetur labore quisquam quibusdam quaerat iusto cum.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque aspernatur in sit, eius quisquam ad ex unde nulla consectetur 
            tempore veniam odio impedit laudantium alias nihil numquam! Quam, dolor soluta.
        </p>
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col-sm-6">
            <img src="assets/FFour.jpg" style="width: 100%; height: 80%;">
        </div>
        <div class="col-md-6 ">
            <h1 class="text-center"  style="font-size: xx-large;">OUR SKILLS</h1>
            <div class="progress_bar">
                <div class="pro-bar">
                    <small class="progress_bar_title">
                        GRAPHIC DESIGN
                        <span class="progress_number">63%</span>
                    </small>
                    <span class="progress-bar-inner" style="background-color: gold; width: 63%;" data-value="63" data-percentage-value="63"></span>
                </div>
            </div>
 
            <div class="progress_bar">
                <div class="pro-bar">
                    <small class="progress_bar_title">
                        PRODUCT BRANDING
                        <span class="progress_number">80%</span>
                    </small>
                    <span class="progress-bar-inner" style="background-color:gold; width: 80%;" data-value="80" data-percentage-value="80"></span>
                </div>
            </div>
            <div class="progress_bar">
                <div class="pro-bar">
                    <small class="progress_bar_title">
                        BUSNIESS PLANING
                        <span class="progress_number">100%</span>
                    </small>
                    <span class="progress-bar-inner" style="background-color:gold; width: 100%;" data-value="100" data-percentage-value="100"></span>
                </div>
            </div>
            <div class="progress_bar">
                <div class="pro-bar">
                    <small class="progress_bar_title">
                        GRAPHIC DESIGN
                        <span class="progress_number">93%</span>
                    </small>
                    <span class="progress-bar-inner" style="background-color:gold; width: 93%;" data-value="93" data-percentage-value="93"></span>
                </div>
            </div>
            <div class="progress_bar">
                <div class="pro-bar">
                    <small class="progress_bar_title">
                        MARKET RESEARCH
                        <span class="progress_number">75%</span>
                    </small>
                    <span class="progress-bar-inner" style="background-color:gold; width: 75%;" data-value="75" data-percentage-value="75"></span>
                </div>
            </div>
            <div class="progress_bar">
                <div class="pro-bar">
                    <small class="progress_bar_title">
                        STRATEGIC CONSULTING
                        <span class="progress_number">87%</span>
                    </small>
                    <span class="progress-bar-inner" style="background-color:gold; width: 87%;" data-value="87" data-percentage-value="87"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" style="background-color: white;">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="text-center" style="padding-top: 4%;"> OUR SERVICES</h1>
                <h4 class="text-center" style="padding-bottom: 4%;">WE CREATE BEST PRODUCTS</h4>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col" style="padding-bottom: 2%;">
              <div class="card h-100">
                <img src="assets/card_1.jpg" class="card-img-top" style="height: 60%;" >
                <div class="card-body" style=" height:  fit-content">
                  <h5 class="card-title ">DIGITAL PRODUCTS</h5>
                  <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque voluptas qui aut quod quidem minus sunt impedit possimus esse totam officia laboriosam, delectus dicta odit culpa voluptatem dolor nisi. Dolor?</p>
                </div>
              </div>
            </div>
            <div class="col" style="padding-bottom: 2%;">
              <div class="card h-100">
                <img src="assets/card_2.png" class="card-img-top" style="height: 60%;" >
                <div class="card-body">
                  <h5 class="card-title">DIGITAL STRATEGY</h5>
                  <p class="card-text ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut voluptas atque vitae animi sequi facilis suscipit dicta, magni sunt saepe cumque itaque delectus non! Repudiandae officiis neque ratione consequatur suscipit!</p>
                </div>
              </div>
            </div>
            <div class="col" style="padding-bottom: 2%;">
              <div class="card h-100">
                <img src="assets/card_3.jpg" class="card-img-top" style="height: 60%;">
                <div class="card-body">
                  <h5 class="card-title">MARKETING PRODUCTS</h5>
                  <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque provident quis hic optio, possimus animi officia harum, saepe adipisci facere blanditiis ipsa repudiandae accusamus nobis fugit quos sequi? Facere, consectetur?</p>
                </div>
              </div>
            </div>
            <div class="col" style="padding-bottom: 4%;">
              <div class="card h-100">
                <img src="assets/card_4.jpg_fit=scale" class="card-img-top" style="height: 60%;" >
                <div class="card-body">
                  <h5 class="card-title">DIGITAL PRODUCTS</h5>
                  <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam id at ipsum sapiente dignissimos vitae tempora facere quo pariatur, amet ratione eveniet deleniti nobis reiciendis assumenda perferendis magnam dolorum facilis?</p>
                </div>
              </div>
            </div>
            <div class="col" style="padding-bottom: 4%;">
                <div class="card h-100">
                  <img src="assets/card_5.jpg" class="card-img-top" style="height: 60%;">
                  <div class="card-body">
                    <h5 class="card-title">MEDIA PROMOTION</h5>
                    <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas, velit officia veritatis enim veniam possimus alias aut iure aspernatur minima quidem fuga, ad dignissimos rerum. Minima maxime alias odio sapiente.</p>
                  </div>
                </div>
              </div>
              <div class="col" style="padding-bottom: 4%;">
                <div class="card h-100">
                  <img src="assets/card_6.jpg" class="card-img-top" style="height: 60%;">
                  <div class="card-body">
                    <h5 class="card-title">DIGITAL PRODUCTS</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus nesciunt quisquam voluptate harum ex quis voluptatum, atque libero necessitatibus, qui quae, voluptates ipsa suscipit nulla vel dicta sunt quibusdam iusto!</p>
                  </div>
                </div>
              </div>
          </div>
    </div>
<div class="container-fluid" style="background-color:#1b2a2f">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="text-start" style="padding-top: 4%; padding-left: 20%; font-size: xx-large;" >FINE FOLKS</h1>
      <h1 class="text-start" style="font-size: xx-large; padding-left: 20%;">WE'VE WORKED</h1>
      <h1 class="text-start" style="font-size: xx-large; padding-left: 20%;" >WITH</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">
      <img class="img-responsive" src="assets/img.jpg" style="padding-bottom: 14%;">
    </div>  
  </div>
</div>
<div class="container-fluid" style="background-color: #101616">
<div class="row">
  <div class="col-sm-3">
    <img src="assets/9mm.png" >
  </div>
  <div class="col-sm-3 mr-auto">
    <div class="btn-group-vertical" style="padding-top: 10%; background-color: transparent;">
      <button type="button" class="btn active" style="color:gold; font-size: small; font-family: Abel;">HOME</button>
      <button type="button" class="btn" style="color: white;font-size: small; font-family: Abel;">SHOP</button>
      <button type="button" class="btn" style="color: white;font-size: small; font-family: Abel;">WHATS INSIDE</button>
      <button type="button" class="btn" style="color: white;font-size: small; font-family: Abel;">AL BRAIN</button>
      <button type="button" class="btn" style="color: white;font-size: small; font-family: Abel;">BLOG</button>
      <button type="button" class="btn" style="color: white;font-size: small; font-family: Abel;">CONTACT</button>
    </div>
  </div>
  <div class="col-sm-3" style="padding-top: 6%;">
    <h5 style="color: white; font-family: Abel; font-size: small;"><i class="fa fa-credit-card"></i> EMAIL@XEN_AGENCY.COM</h5>
    <h5 style="color: white; font-family: Abel;font-size: small;"><i class="fa fa-mobile-phone"></i> +23 4567899</h5>
    <h5 style="color: white; font-family: Abel;font-size: small;"><i class='fas fa-map-marker-alt'></i>  PO BOX 23 LIVER STREET</h5>
  </div>
  <div class="col-sm-3">
    <img src="assets/logoo.png">
  </div>
</div>
</div>
  </div>
