<nav class="navbar navbar-expand-sm  navbar-dark fixed-top" style="background-color:black">
    <a class="navbar-brand"> 
    </a>
    <img src="assets/logo.jpg" style="width: 7%;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavBar" 
    aria-controls="myNavBar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    
    <div class="collapse navbar-collapse" id="myNavBar">
    <ul class="navbar-nav justify-content-between w-50 ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#"[routerLink]="['/home']"  >Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" style="color: white;">Shop</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" style="color: white;">Whats Inside</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" style="color: white;">AI Brain</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" style="color: white;">Blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" style="color: white;">Contact</a>
      </li>
    </ul>
    </div>
  </nav>